@font-face {
    font-family: 'quite-magical';
    src: url(font/Quite\ Magical\ -\ TTF.ttf);
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
}

.header {
    background-color: beige;
    height: 20vh;
    margin: 0;
    display: flex;
    position: relative;
}

.logo {
    flex: 15%;
    position: relative;
}

.pugLogo {
    background-color: tan;
    display: inline-flex;
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    border-radius: 12px;
}

.titlePage {
    text-align: center;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 50%;
    font-family: quite-magical, cursive;
    display: flex;
}

.title {
    margin: 8% 5% 5% 5%;
    font-size: 7em;
}

.titlePage > p {
    font-size: 2em;
    position: absolute;
    margin-top: 1%;
    font-family: 'Mrs Sheppards', cursive;
    text-decoration: underline;
}

.stats {
    width: 100%;
    flex: 25%;
    position: relative;
    font-family: quite-magical, cursive;
    /* font-size: 3em; */
}

.statsBox {
    background-color: tan;
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    border-radius: 12px;
}

.mainBody {
    height: 80vh;
    display: flex;
    position: relative;
    background-image: url(images/background2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.gameInfo {
    height: 100%;
    width: 20%;
}

.attempts, 
.accuracy {
    top: 25%;
    left: 10%;
    display: inline-block;
    position: relative;
    font-size: 3rem;
}

.gameArea {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;

}

.cardDeckContainer {
    display: inline-block;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}

.cardContainer {
    height: 24%;
    width: 16.66%;
    display: inline-block;
}

.card > * {
    border-radius: 12px;
}

.card {
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    background-color: tan;
    border-radius: 12px;
    position: relative;
    float: left;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
}

.front > img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.back {
    background-color: tan;
    background-image: url(images/PuglieFace_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    cursor: pointer;  
}

.faded {
    opacity: 0.7;
}

.card:hover > .back { 
    transform: scale(1.05);
    transition: all .1s ease-in-out;
}

.pugImage {
    height: 100%;
    width: 100%;
}

.puglieDiv {
    position: absolute;
    bottom: 9%;
    right: 2%;
}

.puglie {
    height: 80%;
    width: 80%;
}

.modal {
    font-family: quite-magical, cursive;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modalContent {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: tan;
    border: white solid;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 12px;
    text-align: center; 
}

.modalContent > h1 {
    font-size: 4em;
    margin-top: 5%;
    margin-bottom: 2%;
}

.modalContent > p {
    font-size: 3em;
    margin-top: 2%;
    margin-bottom: 15%;
}

.modalContent > button {
    margin: 0 40%;
    margin-bottom: 5px;
}

.showModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.reset {
    position: absolute;
    left: 1%;
    bottom: 1%;
    font-family: quite-magical;
    font-size: 2em;
    background-color: tan;
    border-radius: 12px;
    border: white solid 2px;
    cursor: pointer;
}

.exitButton {
    position: relative;
    right: 5%;
    top: 5%;
    width: 1.5em;
    line-height: 1em;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    background-color: chocolate;
    font-size: 2em;
}

/*
====================================
** Mobile Portrait Responsiveness **
====================================
*/

@media ( max-width: 1001px ) {
    .title {
        font-size: 5.5rem;
        margin-top: 10%;
    }
}

@media only screen and ( max-width: 769px ) {
    .logo {
        flex: 25%;
    }

    .attempts, 
    .accuracy {
        top: 30%;
        left: 10%;
        display: inline-block;
        position: relative;
        font-size: 2.2rem;
    }

    .title {
        font-size: 5rem;
        margin-top: 15%;
    }

    .cardDeckContainer {
        width: 94%;
        margin-left: 3%;
    }
}

@media only screen and ( max-width: 376px ) {
    .header {
        height: 15vh;
    }

    .mainBody {
        height: 120vh;
    }

    .titlePage > p {
        top: 10%;
        font-size: 1.5rem;
    }

    .title {
        margin-top: 30%;
        font-size: 2.2rem;
    }

    .attempts, 
    .accuracy {
        font-size: 1.1rem;
    }

    .cardContainer {
        height: 15%;
        width: 33%;
        display: inline-block;
        /* margin: auto 6%; */
    }

    .modal {
        transform: scale(0.8);
    }

    .puglieDiv {
        display: none;
    }

    .reset {
        font-size: 1.5rem;
    }
}

/*
=====================================
** Mobile Landscape Responsiveness **
=====================================
*/

@media only screen and ( orientation: landscape ) and ( max-height: 770px ) {
    .logo {
        flex: 20%;
    }

    .title {
        font-size: 6rem;
        margin-top: 12%;
    }

    .puglieDiv {
        bottom: 5%;
    }
}

@media only screen and ( orientation: landscape ) and ( max-height: 380px ) {
    .logo {
        flex: 10%;
    }

    .titlePage > p {
        font-size: 1rem;
    }

    .title {
        font-size: 2.5rem;
        margin-top: 10%;
    }

    .attempts, 
    .accuracy {
        top: 20%;
        font-size: 1.5rem; 
    }

    .puglieDiv {
        display: none;
    }

    br {
        font-size: 0;
    }
}

